.map {
  background-image: url("app/img/map.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
  margin: auto;
  margin-top: 40px;
  width: 1200px;
  min-height: 430px;
}
