footer.footer
  div.container.row
    div.social.column
      a(href="#").social__link.social__link--tw 
      a(href="#").social__link.social__link--inst 
      a(href="#").social__link.social__link--fb 
      a(href="#").social__link.social__link--vk 
    div.about.column
      div.row--inline
        a(href="#").column.about__link.about__link--like Для поставщиков
        a(href="#").column.about__link Наши документы
      div.row--inline
        a(href="#").column.about__link О производстве
        a(href="#").column.about__link Экологические стандарты
    div.copyright.column
      img.copyright__logo(src="app/img/academy-logo.svg")
      p.copyright__text Сделано в 
        a.copyright__link(href="#") HTML&nbsp;Academy
  
