header.header
  div.container
    div.row
      div.navigation.column
        img(src="app/img/gllacy-logo.svg").logo
        nav
          ul.navigation__list.row--inline
            li.navigation__item.navigation__item--catalog.column
              a(href="#") Каталог
            li.navigation__item.column
              a(href="#") Доставка и оплата
            li.navigation__item.column
              a(href="#") О Компании    
      div.user.column.row--inline
        a(href="#").user__search.column
        a(href="#").user__enter.column Вход
        a(href="#").user__cart.column Пусто 
    
          
  
