header.header
  div.container
    nav.navigation
      ul.navigation__list
        li.navigation__item.logo
          a(href="#")
        li.navigation__item
          a(href="#") Каталог
        li.navigation__item
          a(href="#") Доставка и оплата
        li.navigation__item
          a(href="#") О Компании
      div.search
        input(type="search").search__input
      div.user
        a(href="user__enter") Вход
        a(href="user__cart") Корзина
        
